Node-Red/node-red-sketch.js
[{"id":"76770e84.6056d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2f0529a.c58c48","type":"mqtt in","z":"76770e84.6056d","name":"","topic":"/Temperature/","qos":"0","broker":"711965b.3f3d01c","x":150,"y":120,"wires":[["451f6eb.1402b1"]]},{"id":"451f6eb.1402b1","type":"ui_gauge","z":"76770e84.6056d","name":"","group":"1793f3dc.8acbb4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":410,"y":120,"wires":[]},{"id":"b18402c6.69336","type":"mqtt in","z":"76770e84.6056d","name":"","topic":"/RotaryEncoder/","qos":"0","broker":"711965b.3f3d01c","x":160,"y":240,"wires":[["1d26b38c.191514"]]},{"id":"521085a4.add3b4","type":"ui_gauge","z":"76770e84.6056d","name":"","group":"1793f3dc.8acbb4","order":1,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":650,"y":260,"wires":[]},{"id":"1d26b38c.191514","type":"function","z":"76770e84.6056d","name":"function","func":"// initialization\nif(!flow.get(\"lastRotaryEncoder\")){\n    flow.set(\"lastRotaryEncoder\", msg.payload);\n    flow.set(\"lastRotaryEncoderDirection\", false);\n    return [null, null];\n}\nvar speed = msg.payload - flow.get(\"lastRotaryEncoder\");\nvar direction = false;\nif (speed !== 0){\n    if (speed > 0){\n        direction = true;\n    }\n    else {\n        direction = false;\n    }\n    speed = Math.abs(speed);\n    \n    flow.set(\"lastRotaryEncoder\", msg.payload);\n    flow.set(\"lastRotaryEncoderDirection\", direction);\n}\nelse{\n    direction = flow.get(\"lastRotaryEncoderDirection\");\n}\n\nreturn [{payload: speed}, {payload: direction}];","outputs":2,"noerr":0,"x":380,"y":240,"wires":[["521085a4.add3b4"],["77bc1040.e71b7"]]},{"id":"77bc1040.e71b7","type":"ui_text","z":"76770e84.6056d","group":"1793f3dc.8acbb4","order":2,"width":0,"height":0,"name":"","label":"Direction","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":300,"wires":[]},{"id":"711965b.3f3d01c","type":"mqtt-broker","z":"","name":"Service Prediction","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1793f3dc.8acbb4","type":"ui_group","z":"","name":"Service Prediction","tab":"33249703.218db8","disp":true,"width":"6","collapse":false},{"id":"33249703.218db8","type":"ui_tab","z":"","name":"Main","icon":"dashboard","disabled":false,"hidden":false}]
